@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.theme{
  transition: 1s all ;
}
.light{
  background-color: white;
  color: #111;
}
.dark{
  background-color: #111;
  color: #bbb;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

.container_look {
  padding: 2rem;
}

.container {
  max-width: 1366;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Head {
  font-weight: 900;
  font-size: 65px;
  max-width: 90%;
  line-height: 1.3;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popUpmenu{
  height: 400px;
  width: 50%;
  box-shadow: 0 0 500px 400px rgba(0,0,0,.3);
  background: #1f1f1f;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  top:0;
  bottom: 0;
  
  transition: ease 1s all;
}
.popUpmenuInput{
  @apply w-[80%] pl-2 h-[50px] bg-transparent text-white outline-none border-[lightgray] border-[1px] rounded ;
}

.Green_btn {
  @apply p-[10px_20px] border-[none] bg-[#53c28b] text-white font-semibold text-base rounded cursor-pointer w-[30%] text-center;
}

.Red_btn {
  @apply p-[10px_20px] border-[none] bg-[#cf1212a2] text-white font-semibold text-base rounded cursor-pointer w-[30%] text-center;
}

.Green_btn_works {
  @apply p-[1rem_.5rem] bg-[#53c28b] rounded text-white;
}

/* .Head{
  @apply font-black text-[65px] max-w-[90%] leading-[1.3]  -webkit-;
} */
.input_border {
  border: 1px solid lightgray;
}

.desc {
  @apply font-normal text-[20px] w-[90%] py-[10px] my-[20px];
}

.desc_about {
  @apply text-justify font-light text-lg;
}

.Head_lines {
  @apply font-extrabold text-3xl mb-2;
}

.input {
  @apply h-[15%] rounded pl-[20px] bg-transparent input_border font-medium text-base;
}
.input_form{
  @apply pl-[10px] min-h-[50px] rounded outline-none text-black
}

.msg_inp {

  @apply h-[50%] rounded pl-[20px] pt-1 pr-1 bg-transparent input_border;

}

.contact_img {
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}
.toggle{
  @apply cursor-pointer w-[46px] p-[2px] h-6 flex border-[#53c28b70] justify-between border-[1.5px] border-solid rounded-[30px] items-center
}
.icons{
  @apply text-[12px];
}
.ball{
  width: 18px;
  height: 16px;
  border-radius: 50%;
  background-color: #53c28b;
  position: absolute;
  transition: ease-out 1s;
}
/* .category{
  height: 50vh;
  width: 250px;
  position: relative;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 5px;
  &:hover{
    transform: scale(1.01);
    transition: ease 80ms;
  }
} */
.portfilio_cat{
  @apply h-[50vh] w-[250px] relative cursor-pointer border-[5px] border-white rounded;
}
.portfilio_cat:hover{
  transform: scale(1.01);
  transition: ease 80ms;
}
/* .imgContainer{
  background-image: url('https://images.pexels.com/photos/6976754/pexels-photo-6976754.jpeg');
  flex: 1;
 background-size: cover;
} */
.avatarBorder:hover{
  border: 2px solid white ;
  transition: ease 80ms;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0px) scale(1.03);
  }
}

.Img_Home {
  object-fit: contain;
  animation: swing 3s infinite ease alternate;
}

@keyframes swing {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}